/* Theme | Gift 4 food*/
*:focus{
	outline: none;
}
.reveal{
	background-color: rgb(245,245,245);
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6{
	color: rgb(60,60,60);
	text-transform: uppercase;
}
.reveal h1,
.reveal h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
.reveal h3,
.reveal h4{
	font-family: 'Source Sans Pro', sans-serif;
}
.reveal h3{
	font-weight: 900;
}
.reveal h4{
	font-weight: 700;
}
.reveal section img{
	box-shadow: none;
	border: 0;
}
.reveal img.max-h-md{
	max-height: 42vh;
}
.reveal img.max-h-xl{
	max-height: 75vh;
}
.reveal .progress{
	height: .12em;
	top: 0;
	bottom: initial;
	background: rgba(0,0,0,.05)
}
.reveal .controls .enabled{
	opacity: .85;
}
.reveal .title{
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-size: 2.6em;
	text-transform: initial;
	position: relative;
}
.reveal .subtitle{
	color: #2980b9;
	margin-bottom: .5em;
	padding-bottom: .25em;
	position: relative;
}
.reveal .number{
	border-radius: 1em;
	color: #2980b9;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3.5em;
	line-height: 1.1;
	vertical-align: middle;
	text-align: center;
	position: absolute;
    bottom: -0.45em;
    left: -0.29em;
	opacity: .15;
	z-index: -1;
}
.reveal .subtitle:after{
	content: '';
	margin: .25em auto 0;
	display: block;
	height: .075em;
	width: 1.25em;
	background-color: rgb(230,230,230);
	border-radius: 10em;
}
.theme--inverse{
	background-color: #2980b9;ç
	color: #fff;
}

.reveal .photo-gallery{
	text-align: center;
	margin-top: .5em;
	margin-left: 0;
}
.photo-gallery li{
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: .25em .35em;
	min-width: 6em;
}
.photo-gallery figure{
	background-size: cover;
	height: 3em;
	width: 3em;
	border-radius: 1em;
	display: inline-block;
}
.photo-gallery .name{
	color: #2980b9;
	font-family: 'Raleway', sans-serif;
	font-size: .6em;
	font-weight: 900;
	margin: .5em 0 0;
}
.photo-gallery .job{
	color: rgb(180,180,180);
	font-size: .4em;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}
.photo-gallery .belen figure{
	background-image: url('../img/profile_belen.jpg')
}
.photo-gallery .liz figure{
	background-image: url('../img/profile_liz.jpg')
}
.photo-gallery .ursula figure{
	background-image: url('../img/profile_ursula.jpg')
}
.photo-gallery .darwin figure{
	background-image: url('../img/profile_darwin.jpg')
}
.photo-gallery .chechu figure{
	background-image: url('../img/profile_chechu.jpg')
}
.photo-gallery .alvaro figure{
	background-image: url('../img/profile_alvaro.jpg')
}

p.quote{
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
p.quote-info{
	font-family: 'Source Sans Pro', sans-serif;
	/*font-weight: 900;*/
	font-weight: 400;
}
.images-inline > *:not(:last-child){
	margin-right: 2em;
}